/*
- dark green - 1C2A2C
-footer dark - 24282B


   font-family: 'Raleway', sans-serif;
   300 400 500 900 (normal and italic)

*/

   

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}



/* Temporary Styles */
/* * {
    padding: 0.5rem;
    border: 1px solid rgb(200,200,200);
} */ 


/* html,
body {
    border: none;
} */

/* h1,h2,h3,h4,h5,h6,p,a {
    border: 2px solid rgb(80, 43, 0);
}
*/

/* End temporary style */



/*  Utility Classes */ 

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }


.padded     {padding: 5%;}
.padded-lg  {padding: 10%;}
.padded-1   {padding: 1rem;}
.padded-2   {padding: 2rem;}

.padded-0 { padding: 0;}

.margin-b-0 { margin-bottom: 0; }

.bg-featured { background-color: #1C2A2C; }
.bg-dark     { background-color: #24282B; }

.light-text { color: white; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }


.capped-width {
    max-width: 1000px;
    margin: auto;
}


/* Typography */

body {
font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

h1 { font-size: 8rem; }

h2 { font-size: 2.5rem; }

h3 { font-size: 1.8rem; }

.text-xl { font-size: 8rem;}

.not-bold { font-weight: 400;
}

.subtle { 
    opacity: 0.8;
    font-size: 0.9rem;
    font-style: italic;
}



p, li {
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

p:last-child,
li:last-child {
    margin-bottom: 0;
}

a { color: inherit; }

nav a { 
        text-decoration: none;
        padding: 0.5rem;
        display: inline-block;
        border: none;
      }
     
a:hover { color: #4e91ad;}

.fab {
    font-size: 1.5rem;
    padding-left: 1rem;
}



/* Header & Hamburger menu */

header {
    padding: 1% 5%;
    position: relative;
}





/* Styles when the hamburger button is active */

.logo {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    text-decoration: none;

}

header a { 
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    display: inline-block;
    font-weight: 200;
    
}



/* hamburger menu */

.hamburger-button::after {
    content: "☰";
    cursor: pointer;
    padding: 0 0.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    margin-top: 0.9rem;
    position: absolute;
    right: 1rem;
    top: 2.1rem;
    z-index: 6;
  }
  
  .hamburger-button.active::after {
    content: "x";
    color: black;
  }
  
  .mobile-menu {
    display: none;
    background-color: #e0fbfc;
    padding: 5%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 5;
  }
  
  .mobile-menu a {
    text-decoration: none;
    color: inherit;
    padding: 5vh 5%;
    display: block;
    font-weight: normal;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  .inline, .mobile-menu .inline {
    display: inline;
    margin-top: 3%;
    
  }
  
  .social-links a { display: inline;}
  
  
  
 
 





/* Footer */ 

footer h2 {
font-size: 6rem;
line-height: 1;
}

footer p { margin-bottom: 0.2rem; }



/* Background Images */

.bg-image {
    background-color: #24282B; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/the-oceana-1.jpg');
}

.bg-roof       { background-image: url('/images/the-oceana-5.jpg');}

.bg-bed        { background-image: url('/images/the-oceana-1.jpg');}

.bg-hallway    { background-image: url('/images/the-oceana-3.jpg');}

.bg-lounge     { background-image: url('/images/the-oceana-4.jpg');}

.bg-lounge-2   { background-image: url('/images/the-oceana-2.jpg');}

.bg-sheets     { background-image: url('/images/the-oceana-7.jpg');}

.bg-map        { background-image: url('/images/the-oceana-map.png');}

.bg-padded     { padding-bottom: 30%; }

.social-banner { background-position: 50% 17%;}




.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Explore Page */

.explore-page h1 {
    margin-bottom: 1rem;
}


.explore-page a {
    display: block;
    padding: 0.5rem 0.5rem;
    border: 1px solid ;
    margin-bottom: 0.5rem;
}

.explore-page .featured {
    background-color: tan;
    color: #24282B;
}





/* hamburger menu 

.hamburger-button::after {
    content: "☰";
    cursor: pointer;
    padding: 0 0.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    margin-top: 0.9rem;
    position: absolute;
    right: 1rem;
    top: 2.1rem;
    z-index: 6;
  }
  
  .hamburger-button.active::after {
    content: "x";
    color: black;
  }
  
  .mobile-menu {
    display: none;
    background-color: #e0fbfc;
    padding: 5%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 5;
  }
  
  .mobile-menu a {
    text-decoration: none;
    color: inherit;
    padding: 5vh 5%;
    display: block;
    font-weight: normal;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  .inline, .mobile-menu .inline {
    display: inline;
    margin-top: 3%;
    
  }
  
  .social-links a { display: inline;}
  

*/







/* max-width in pixels approximately 768px */

@media(max-width: 48em) {
    .hide-sm { display: none; }
    .show-sm { display: block; }

    .flex-flip-sm { flex-direction: column-reverse;}

    h1 { font-size: 4rem;}
   .text-xl {font-size: 4rem;}

    footer h2 { font-size: 3rem;}

    .social-banner { 
        background-image: none;
        background-color: #1C2A2C;
        min-height: 30vh;
    }

}



/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 
 
.show-xs, 
.show-sm,
.show-md 
.mobile-menu {
   display: none;
}
/* Default Responsive Styles (Desktop and below) */

.mob-show {
  display: none;
}

 



/* ------- SM Media Query (48em / 768px) --------------- */ 
@media(max-width:48em) {
  .hide-sm { display: none; }
  .show-sm { display: block; }
}




/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
  .show-md { display: block; }
  .hide-md { display: none;  }
}



/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

    
  .sm-text-center { text-align: center; }
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }

  .sm-padded { padding: 5%; }
  .sm-padded-1 { padding: 1rem; }
  .sm-padded-05 { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0; }
  .sm-padded-r-0 { padding-right: 0; }
  .padded-r-5 { padding-right: 5rem; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-l-0 { margin-left: 0; }
  .sm-margin-r-0 { margin-right: 0; }




/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {
  .show-xs { display: block; }
  .hide-xs { display: none;  }
}



.margin-bottom { margin-bottom: 2.5rem;}








/* cookie banner */

#cookie-notice {
 padding: 0.5rem 1rem;
 display: none;
 text-align: center;
 position: fixed;
 left: 1rem;
 right: 1rem;
 bottom: 0;
 width: calc(100% - 2rem);
 background: #222;
 color: rgba(255,255,255,0.8);
}
#cookie-notice a {
 display: inline-block;
 cursor: pointer;
 margin-left: 0.5rem;
}
#cookie-notice .button-subtle {
opacity: 0.8;
}
#close-cookie-banner {
padding: 1rem;
cursor: pointer;
font-size: 0.8rem;
opacity: 0.5
}

